<header>
  <div class="container top-sect">
    <div class="navbar-header">
      <h1 class="navbar-brand">
        <a  href="./">Steve Barrus<small>SmithWorks - Gunsmithing</small></a>
      </h1>
    </div>

    <div class="help-box text-right">
      <p>Call Now!</p>
      <a href="tel:+14258304067"> 425-830-4067</a>
      <small><span>Email:</span>  sbarrus.custompistolsmith@gmail.com</small>
    </div>
  </div>
  <div id="stuck_container" class="stuck_container">
    <div class="container">
    <nav class="navbar navbar-default navbar-static-top pull-left">

        <div class="">
          <ul class="nav navbar-nav sf-menu" data-type="navbar">
            {{#each links}}
            <li class="{{class}}">
              <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
    </nav>
    </div>

  </div>
</header>