<header>
  <div class="container top-sect">
    <div class="navbar-header">
      <h1 class="navbar-brand">
        <a  href="./">Steve Barrus<small>SmithWorks - Gunsmithing</small></a>
      </h1>
    </div>

    <div class="help-box text-right">
      <p>Call Now!</p>
      <a href="tel:+14258304067"> 425-830-4067</a>
      <small><span>Email:</span>  sbarrus.custompistolsmith@gmail.com</small>
    </div>
  </div>
  <div id="stuck_container" class="stuck_container">
    <div class="container">
    <nav class="navbar navbar-default navbar-static-top pull-left">

        <div class="">
          <ul class="nav navbar-nav sf-menu" data-type="navbar">
            <li class="active">
              <a href="./">HOME</a>
            </li>
            <!-- <li>
              <a href="index-1.html">ABOUT</a>
            </li> -->
            <!-- <li class="dropdown">
              <a href="index-2.html">SERVICES<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Lorem ipsum</a>
                </li>
                <li>
                  <a href="#">Dolor sit amet  </a>
                </li>
                <li>
                  <a href="#">Conse ctetur </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Latest</a>
                      </li>
                      <li>
                        <a href="#">Archive</a>
                      </li>
                    </ul>
                </li>
              </ul>
            </li>   -->
            <!-- <li>
              <a href="index-3.html">PRODUCTS</a>
            </li> -->

            <li>
              <a href="#sumome-contactform-bp">INQUIRE</a>
            </li>
          </ul>
        </div>
    </nav>
    </div>

  </div>
</header>